// Colors
// -----------

$c--black: #2c3e50;

// Type
// -----------

$fs--base: 20px;
$fs--lg: 2rem;

$ff--base: 'Avenir', Helvetica, Arial, sans-serif;

$fw--base: 400;
$fw--bold: 700;

$lh--base: 1.5;
