html {
  font-family: $ff--base;
  font-size: $fs--base;
  line-height: $lh--base;
  color: $c--black;
}

.headline {
  font-size: $fs--lg;
  font-weight: $fw--bold;
}

.list-header {
  font-weight: $fw--bold;
  margin-bottom: 1em;
}
